* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --primary1: lightgray;
    --secondary1: black;
    --accent1: pink;
}

header {
    background-color: var(--accent1);
    color: var(--secondary1)
}

body {
    background-color: var(--primary1);
}

li {
    list-style: none;
}